numpy
tensorflow==2.12
torch
torchvision
torchaudio
pandas
ipython
levenshtein
cython
scipy
pandas
tensorflow-datasets
tensorflow-addons
setuptools
librosa
soundfile
PyYAML
matplotlib
sox
tqdm
colorama
nlpaug
nltk
sentencepiece
wandb
tensorflow_probability
tensorflow_io
google-cloud-storage
cloud-tpu-client
datasets
jiwer
torchviz